.jumbotron {
    margin-top: 5%;
    text-align: center;
    margin-bottom: 5%;
    overflow: hidden;
}

.imgAnni {
    background: url(https://images.serenataassets.com/image/upload/v1509712106/Citations-d_anniversaire_abxalt.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#bouttonRoug {
    position: relative;
}

#boutton2 {
    position: relative;
    right: -500px;
    background-color:blue;
}

.bodyBackground {
    background: url(https://medias.unifrance.org/medias/187/189/179643/format_page/la-mort-pere-fils.jpg);
    background-size: 100% 112%;
}

.bodyBackground2 {
    background: url(https://media.giphy.com/media/sIoUUXfh3W51K/giphy.gif);
    background-size: 100% 97%;
}

#boutton3 {
    position: relative;
    left: -1000px;
    background-color:rgb(71, 71, 71);
    text-align: center;
}



